{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url(/static/images/bg.jpg);"
    id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">All Applicants </h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'jobapp:dashboard' %}">Dashboard</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>All Applicants </strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <h5 class="card-header text-center mb-5"> All Applicants </h5>
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Job Title</th>
                                    <th>Applied Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for applicant in all_applicants %}
                                <tr>
                                    <td class="text-center">
                                        <a href="">{{ applicant.user.get_full_name }}</a>
                                    </td>
                                    <td>{{ applicant.job.title }}</td>
                                    <td>{{ applicant.timestamp }}</td>
                                    <td>
                                        {% if applicant.status == 'pending' %}
                                            <span class="badge badge-warning">Pending</span>
                                        {% elif applicant.status == 'accepted' %}
                                            <span class="badge badge-success">Accepted</span>
                                        {% else %}
                                            <span class="badge badge-danger">Rejected</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-sm"
                                           href="{% url 'jobapp:applicant-details' applicant.user.id %}">
                                           View
                                        </a>
                                        
                                        {% if applicant.status != 'accepted' %}
                                            <a class="btn btn-success btn-sm"
                                               href="{% url 'jobapp:accept-applicant' applicant.id %}">
                                               Accept
                                            </a>
                                        {% endif %}

                                        {% if applicant.status != 'rejected' %}
                                            <a class="btn btn-danger btn-sm"
                                               href="{% url 'jobapp:reject-applicant' applicant.id %}">
                                               Reject
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}